
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/Poppins-Regular.woff') format('woff'),
  url('../font/Poppins-Regular.ttf')  format('truetype'),
  url('../font/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: 400;
  font-style: normal;  
}


@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/Poppins-Bold.woff') format('woff'),
  url('../font/Poppins-Bold.ttf')  format('truetype'),
  url('../font/Poppins-Bold.svg#Poppins-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/Poppins-Light.woff') format('woff'),
  url('../font/Poppins-Light.ttf')  format('truetype'),
  url('../font/Poppins-Light.svg#Poppins-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/Poppins-Medium.woff') format('woff'),
  url('../font/Poppins-Medium.ttf')  format('truetype'),
  url('../font/Poppins-Medium.svg#Poppins-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../font/Poppins-ExtraBold.woff') format('woff'),
  url('../font/Poppins-ExtraBold.ttf')  format('truetype'),
  url('../font/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
