section.ofert{
    background: url(../img/background_oferts.jpg);
    background-size: cover;
    padding-bottom: 30px;
    @media only screen and (min-width: 768px) {
        padding-bottom: 50px;
    }
    @media only screen and (min-width: 1366px) {
        padding-bottom: 100px;
    }
    @media only screen and (min-width: 1600px) {
        padding-bottom: 155px;
    }
    .head_container{
        @media only screen and (min-width: 1024px) {
            padding: 100px 0 60px 0;
        }
        @media only screen and (min-width: 1600px) {
            padding: 100px 0 73px 0;
        }
    }
    .oferts_flex{
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        .flex_inner{
            flex-basis: 100%;
            padding-bottom: 50px;
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(center);
            @media only screen and (min-width: 768px) {
                flex-basis: 50%;
            }
            @media only screen and (min-width: 1150px) {
                flex-basis: 23%;
            }
            .box_oferts{
                max-width: 300px;
                .head{
                    @include flexbox();
                    @include flex-wrap(wrap);
                    @include justify-content(flex-start);
                    @include align-items(flex-end);
                    img{
                        margin-right: 10px;
                        @media only screen and (min-width: 1300px) {
                            margin-right: 20px;
                        }
                    }
                    p{
                        font-size: 1.6em;
                        color: $blueText;
                        line-height: 1.2;
                        text-transform: uppercase;
                        span{
                            font-weight: 800;
                        }
                        @media only screen and (min-width: 1300px) {
                            font-size: 1.9em;
                        }
                    }
                }
                .text{
                    padding-top: 20px;
                    font-size: 1.3em;
                    font-weight: 500;
                    color: $blueText;
                    line-height: 1.85;
                    @media only screen and (min-width: 1300px) {
                        padding-top: 35px;
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}
